.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background: url(assets/bg-2.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-card {
    border-radius: 4px;
    color: #fafafa;
    background: rgba(77,84,139,.35);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.req-button {
  color: #fafafa;
  background: transparent;
  border: 3px solid #fafafa;
  padding: 0.5rem 2rem !important;
  border-radius: 1rem;
  margin: 0 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
